{% extends "base.html" %} 
{% load static %} 

{% block meta-description %}{{object.title}} | {{object.meta_description}}{% endblock %}
{% block title %}{{object.title}}{% endblock %}


 {% block content %}

 <div class="container mt-4 ">
  <div class="row">
      <div class="col">
          <h1 class="webapp-single-title">{{ object.title }}</h1>
          <p class="webapp-single-text">{{ object.long_description|linebreaksbr }}</p>
          <h2 class="webapp-single-h2">Why?</h2>
          <p class="webapp-single-text mb-4">{{ object.why|linebreaksbr }}</p>
          <h2 class="webapp-single-h2">My Goals</h2>
          <p class="webapp-single-text mb-4">{{ object.goal|linebreaksbr }}</p>          
          {% if object.self_url %}
          <p class="webapp-single-text mb-0" style="line-height: 1rem;"> <strong>Visit</strong> </p>
          <a class="webapp-single-text" href="https://{{object.self_url}}" target="_blank">{{ object.self_url }}</a>
          {% endif %}          
      </div>
    </div>
    {% if "special-events" in request.path %}
    <div class="row pt-4">
      <div class="col-12 col-sm-6 col-md-6 text-center pt-md-4 pt-3">
          <img class="hp-2-col-img" src="{{ object.image1.url }}" style="max-height: unset !important;" alt="laptop">
      </div>
      <div class="col-12 col-sm-6 col-md-6 text-center pt-md-4 pt-3">
          <img class="hp-2-col-img" src="{{ object.image2.url }}" style="max-height: unset !important;" alt="laptop">
      </div>
      <div class="col-12 col-sm-6 col-md-6 text-center pt-md-4 pt-3">
          <img class="hp-2-col-img" src="{{ object.image3.url }}" style="max-height: unset !important;" alt="laptop">
      </div>
      <div class="col-12 col-sm-6 col-md-6 text-center pt-md-4 pt-3">
          <img class="hp-2-col-img" src="{{ object.image4.url }}" style="max-height: unset !important;" alt="laptop">
      </div>
    </div>
    {% else %}
    <div class="row pt-4">
      <div class="col-12 col-sm-6 col-md-3 text-center pt-md-0 pt-3">
          <img class="hp-2-col-img" src="{{ object.image1.url }}" style="max-height: unset !important;" alt="laptop">
      </div>
      <div class="col-12 col-sm-6 col-md-3 text-center pt-md-0 pt-3">
          <img class="hp-2-col-img" src="{{ object.image2.url }}" style="max-height: unset !important;" alt="laptop">
      </div>
      <div class="col-12 col-sm-6 col-md-3 text-center pt-md-0 pt-3">
          <img class="hp-2-col-img" src="{{ object.image3.url }}" style="max-height: unset !important;" alt="laptop">
      </div>
      <div class="col-12 col-sm-6 col-md-3 text-center pt-md-0 pt-3">
          <img class="hp-2-col-img" src="{{ object.image4.url }}" style="max-height: unset !important;" alt="laptop">
      </div>
    </div>
    {% endif %}

</div>

{% endblock content %}

