:root {
    --navbar-height: 70px;
    --homepage-top-banner-height: 150px;
  }
 
  html {
    scroll-behavior: smooth;
}

body{
    font-family: 'Red Hat Display', sans-serif;
    overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Red Hat Display', sans-serif;
}
p, span {
    font-family: 'Red Hat Text', sans-serif;
}

.alert-div{
    border-radius: 0 !important;
}

.container-fluid{
    width: 100% !important;
    padding-right: 2rem ;
    padding-left: 2rem ;
    max-width: 1440px !important;
}

.say-hi{
    font-size: 24px;
    font-weight: 400;
    color: white;
}

.footer-mail{
    color: #CBCBCB !important;
    font-size: 15px;
    text-decoration: none;
    font-weight: 300;
    text-decoration: none !important;
}

.footer-social{
    font-size: 16px;
    color: white !important;
    font-weight: 300;
    text-decoration: none !important;
}

.footer-link{
    font-size: 14px;
    text-decoration: none;
    color: white !important;
    font-weight: 300;
    text-decoration: none !important;
}

.straight-line-footer{
    color: white;
    cursor: context-menu;
}

.footer-li{
    color: rgb(138, 138, 138);
    font-size: 12px;
}

.grecaptcha-badge {
    opacity:0 !important;
}








/* BASE:HTML */
.scroll-top {
    background-color: #8f8f8f71;
    border-radius: 50%;

    border: none !important;
    outline: none !important;
    z-index: 99;
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 20px;
    right: 30px;
    display: none;
}

.scroll-top:hover {
    background-color: #585858c4;
}
.scroll-top i {
    display: inline-block;
    color: #FFFFFF;
}




/* ---------- */

    /* NAVBAR & FOOTER */

    
    .navbar{
        /* height: var(--navbar-height); */
        background-color: #EFEFEF !important;
    }

    .nav-link{
        font-size: 14px;
        color: #575757 !important;
        padding-left: 1rem !important;
        padding-right: 1rem !important;
        text-align: center;
        font-weight: 500;
    }


    


        /* HOMEPAGE */

        .homepage{
            height: calc(100vh - var(--navbar-height));
            width: 100%;
            background-image: url('../images/h1.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            position: absolute;
        }

        .homepage-top-banner{
            height: calc(100vh - var(--navbar-height));
        }

        .homepage-top-title-container{
            padding-right: 5rem;
            padding-top: 4rem;
        }

        .hello-title{
            font-size: 140px;
            font-weight: 400;
            color: #575757;
        }

        .hello-text{
            font-size: 16px;
            font-weight: 400;
            line-height: 175%;
            color: #575757;
        }

        .scroll-down-gif{
            position: absolute;
            bottom: 10px;
            right: 0;
            left: 0;
            margin-left: auto;
            margin-right: auto;
        }

        .section-down{
            display: inline-block;
            position: absolute;
            bottom: 10px;
            width: 100%;
        }

        .section-down-title{
            font-size: 15px;
            color: rgb(218, 218, 218);
        }

        .hp-h3{
            font-size: 30px;
            color: #555555;
            font-weight: 500;
            margin-bottom: 1rem;
        }

        .hp-p{
            font-size: 15px;
            color: #555555;
        }

        .hp-2-col{
            background-color: #555555;            
        }

        .hp-2-col-img{
            max-width: 100%;
            max-height: 450px;
        }

        .section-down-container{
            display: flex;
            align-items: center;
        }

        .section-down-container-right{
            display: flex;
            justify-content: right;
            align-items: center;
        }

        .hp-3-p{
            font-size: 14px;
        }

        .view-all-webapp{
            text-decoration: none !important;
            color: black !important;
        }

        .view-all-webapp:hover{
            color: black !important;
        }

        .hp-3-h2{
            font-size: 42px;
        }

        .webapp-description{
            font-size: 15px;
            color: white;
            font-weight: 400;
            position: absolute;
            top: 25px;
            right: 30px;
            text-align: right;
        }

        .webapp-title{
            font-size: 34px;
            color: white;
            font-weight: 500;
            position: absolute;
            top: 22px;
            left: 30px;
        }

        .webapp-content{
            line-height: 1.6rem;
            font-size: 16px;
            color: white;
            font-weight: 400;
            position: absolute;
            top: 110px;
            left: 35px;
        }

        .webapp-rectangle{
            height: 2px;
            position: absolute;
            top: 85px;
            width: 40%;
            background-color: rgb(219, 219, 219);
        }

        .webapp-long-description{
            opacity: 0;
            transition: 0.5s;
            line-height: 1.7rem;
            font-size: 16px;
            color: white;
            font-weight: 300;
            position: absolute;
            padding-left: 1.5rem;
            padding-right: 1.5rem;
            width: 100%;
            bottom: 0px;
            left: 0px;
        }

        .webapp-col{
            overflow: hidden;
            display: block;
        }

        .webapp-a{
            max-width: 95%;
            position: relative;

        }

        .webapp-img{
            transition: transform 0.5s ease, filter 0.5s ease;
        }

        .webapp-col:hover .webapp-img{
            transform: scale(1.02);
        }

        .webapp-col:hover .webapp-img{
            filter: brightness(25%);
        }

        .webapp-col:hover .webapp-long-description{
            opacity: 1;
        }


        .eng-row{
            background-color: #F7F7F7;
        }

        .eng-company-h2{
            font-size: 28px;
            color: #5F5F5F;
        }
        .eng-company-title{
            font-size: 13px;
            color: #5F5F5F;
        }

        .eng-col{
            text-align: right;
        }

        .eng-col-website{
            text-align: right;
        }

        .eng-company-country{
            font-size: 16px;
            color: #5F5F5F;
        }
        .eng-duration{
            font-size: 12px;
            color: #5F5F5F;
        }
        .eng-seperating-div{
            height: 2px;
            width: 150px;
        }
        .eng-company-description{
            font-size: 14px;
            color: #5F5F5F;
        }
        .eng-company-button{
            padding-left: 1rem;
            padding-right: 1rem;
            padding-top: 0.6rem;
            padding-bottom: 0.6rem;
            font-size: 13.5px;
            letter-spacing: 0.05rem;
            color: white !important;
            text-decoration: none !important;
            white-space: nowrap;
        }
        .eng-company-website{
            font-size: 13px;
            text-decoration: none !important;
            color: #5F5F5F !important;
        }
        .eng-company-map{
            width: auto;
            height: 100%;
        }


        .project-title{
            font-size: 35px;
            color: white;
            font-weight: 500;
            position: absolute;
            top: 23px;
            left: 30px;
        }

        .project-content{
            line-height: 1.8em;
            font-size: 15px;
            color: white;
            font-weight: 400;
            position: absolute;
            top: 100px;
            left: 30px;
            width: 42%;
        }

        .project-content-mobile{
            line-height: 1.7em;
            font-size: 15px;
            color: white;
            font-weight: 400;
            position: absolute;
            top: 120px;
            left: 50px;
            width: 38%;
            display: none;
        }


        .projects-more-button{
            color: white !important;
            text-decoration: none !important;
            position: absolute;
            bottom: 10px;
            right: 20px;
        }



        .no-mobile-content{
            top: unset !important;
            bottom: 20px !important;
            width: 80% !important;
            display: unset !important;
        }

        .homapage-contact-title{
            font-size: 45px;
            color: rgb(59, 59, 59) !important;
        }

        .homapage-contact-text{
            font-size: 15px;
        }
        

            /*
            * WORK
            */

            .work-list-page-div{
                background-image: url('../images/webapp-top.jpg');
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                min-height: 80vh; 
                position: relative;
            }

            .webapp-top-title{
                font-size: 38px;
                color: rgb(255, 255, 255);
                margin-bottom: 1.5rem;
            }

            .webapp-top-description{
                font-size: 16px;
                color: rgb(255, 255, 255);
                font-family: 'Red Hat Text', sans-serif;
                font-weight: 300;
                line-height: 1.7em;
            }

            .webapp-single-title{
                font-size: 38px;
                color: rgb(41, 41, 41);
                margin-bottom: 1.5rem;
            }
            .webapp-single-h2{
                margin-top: 2rem;
                font-size: 28px;
                color: rgb(41, 41, 41);
            }
            .webapp-single-text{
                font-size: 15px;
                color: rgb(41, 41, 41) !important;
                line-height: 1.7rem;
                text-decoration: none !important;                
            }   
                /*
                * COMPANIES
                */

                .eng-work-list-page-div{
                    background-image: url('../images/eng-work.jpg');
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    min-height: 80vh; 
                    position: relative;
                }


                /*
                * PROJECTS
                */

                .project-list-page-div{
                    background-image: url('../images/projects_top.jpg');
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    min-height: 80vh; 
                    position: relative;
                }

                /*
                * CONTACT
                */

                .contact-list-page-div{
                    background-image: url('../images/contact_top.jpg');
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    min-height: 80vh; 
                    position: relative;
                }


        

                /*
                * ABOUT
                */

                .about-button:hover{
                    text-decoration: none;
                    color: initial;
                }

                .about-top{
                    height: calc(var(--homepage-img-height) - var(--navbar-height));
                    background-image: url('../images/about-top.jpg');
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    position: absolute;
                    z-index: -1;
                }

                .about-col{
                    padding-left: 8rem;
                    padding-right: 8rem;
                }

                .see-all-button{
                    font-size: 14px;
                    text-align: right;
                    border-radius: 0;
                    border: none;
                    height: 2rem;
                    color: white;
                    background: linear-gradient(180deg, #2BC1DA 0%, #008BCC 100%);
                    max-width: 100px;
                }

                .see-all-button:hover{
                    color: white;
                }

                .form-control{
                    border-radius: 0;
                    padding-bottom: 0;
                    margin-bottom: 1.5rem;
                    border: none;
                    padding-top: 0;
                    border-bottom: 1px solid #cecece;
                    font-size: 15px;     
                    background-color:#ffffff00;  
                }
                        /*
                        * CONTACT
                        */

                        .contact-button{
                            margin-top: 1rem;
                            width: 302px;
                            background-color: #292929;  
                            border: none;
                            padding-top: 1rem;
                            padding-bottom: 1rem;
                            color: white;
                        }



@media (max-width: 1180px) {

    .project-content{
        line-height: 1.5em;
        font-size: 14px;
        width: 38%;
    }
}

@media (max-width: 1050px) {

    .project-content{
        font-size: 13px;
    }

    .no-mobile-content{
        bottom: 10px !important;
    }
}


@media (max-width: 991px) {

    .homepage-top-title-container{
        padding-right: 2rem;
        padding-top: 1rem;
    }

    .hello-title{
        font-size: 110px;
        font-weight: 400;
        color: #575757;
    }

    .webapp-description{
        font-size: 12px;
        top: 15px;
        right: 35px;
        font-weight: 400;
    }

    .webapp-title{
        font-size: 30px;
        top: 10px;
        left: 25px;
    }

    .webapp-content{
        line-height: 1.25rem;
        font-size: 13px;
        color: white;
        font-weight: 400;
        top: 80px;
        left: 25px;
    }

    .webapp-rectangle{
        top: 60px;
    }


    .project-title{
        font-size: 30px;
        top: 10px;
        left: 35px;
    }

    .project-content{
        display: none;
    }

    .project-content-mobile{
        display: unset;
        font-size: 15px;
        color: white;
        font-weight: 400;
        top: 80px;
        left: 35px;
    }

    .no-mobile-content{
        bottom: 0px !important;
    }

    .webapp-a{
        max-width: 100%;
    }


    .work-list-page-div{
        background-image: url('../images/webapp-top-mobile.jpg');
    }

    .eng-work-list-page-div{
        background-image: url('../images/eng-work-mobile.jpg');
    }

    .project-list-page-div{
        background-image: url('../images/projects_top_mobile.jpg');
    }

    .contact-list-page-div{
        background-image: url('../images/contact_top_mobile.jpg');
    }

    .nav-item{ 
        justify-content: flex-start;
    }
}

@media (max-width: 830px) {

    .webapp-long-description{
        display: none;
    }
}


@media (max-width: 767px) {

    .webapp-description{
        font-size: 14px;
        top: 35px;
        right: 50px;
    }

    .webapp-title{
        font-size: 40px;
        top: 30px;
        left: 50px;
    }

    .webapp-content{
        line-height: 1.5rem;
        font-size: 15px;
        color: white;
        font-weight: 400;
        position: absolute;
        top: 120px;
        left: 50px;
    }

    .webapp-rectangle{
        height: 2px;
        position: absolute;
        top: 100px;
        width: 50%;
        background-color: rgb(219, 219, 219);
    }


    .project-title{
        font-size: 40px;
        top: 30px;
        left: 50px;
    }

    .project-content{
        display: unset;
        line-height: 1.45rem;
        font-size: 15px;
        color: white;
        font-weight: 400;
        position: absolute;
        top: 120px;
        left: 50px;
    }

    .project-content-mobile{
        display: none;
        font-size: 14px;
        left: 20px;
        top: 70px;

    }

    .no-mobile-content{
        bottom: 20px !important;
    }

    .webapp-col-a{
        margin-bottom: 1.5rem !important;
    }

    .webapp-long-description{
        display: unset;
    }

    .webapp-top-description{
        font-size: 15px;
    }

    .hp-text-section-col{
        border: none !important;
    }
}


@media (max-width: 576px) {    

    .scroll-down-gif{
        display: none;
    }

    .section-down-container, .section-down-container-right {
        justify-content: center !important;
    }

    .dropdown-item{
        margin-top: 0.15rem !important;
        margin-bottom: 0.15rem !important;
    }

    .hp-3-h2{
        font-size: 30px;
    }

    .webapp-description{
        font-size: 12px;
        top: 15px;
        right: 25px;
        font-weight: 400;
    }

    .webapp-title{
        font-size: 24px;
        top: 12px;
        left: 20px;
    }

    .webapp-content{
        line-height: 1.25rem;
        font-size: 13px;
        color: white;
        font-weight: 400;
        top: 70px;
        left: 20px;
    }

    .webapp-rectangle{
        top: 50px;
    }
    

    .eng-col-website{
        text-align: left;
        padding-top: 1.5rem;
    }

    .eng-company-map{
        width: 100%;
        height: auto;
    }

    .eng-company-span{
        display: none;
    }


    .project-title{
        font-size: 20px;
        top: 15px;
        left: 20px;
    }

    .project-content{
        line-height: 1.25rem;
        font-size: 13px;
        color: white;
        font-weight: 400;
        top: 80px;
        left: 35px;
    }

    .no-mobile-content{
        left: 20px;
        bottom: 5px !important;
        width: 70% !important;
    }

    .projects-more-button{
        font-size: 14px;
    }

}

@media (max-width: 490px) {
    .project-content{
        display: none
    }

    .project-content-mobile{
        display: unset;
    }

    .no-mobile-content{
        bottom: -5px !important;
        line-height: 1.2rem;
        font-size: 13px;
    }

    .webapp-long-description{
        display: none;
    }
}


@media (max-width: 410px) {

    .project-content-mobile{
        line-height: 1.2rem;
    }
}