:root {
    --navbar-height: 70px;
    --homepage-top-banner-height: 150px;
  }
 
  html {
    scroll-behavior: smooth;
}

body{
    font-family: 'Red Hat Display', sans-serif;
    overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Red Hat Display', sans-serif;
}
p, span {
    font-family: 'Red Hat Text', sans-serif;
}

.alert-div{
    border-radius: 0 !important;
}







/* BASE:HTML */
.scroll-top {
    background-color: #8f8f8f71;
    border-radius: 50%;

    border: none !important;
    outline: none !important;
    z-index: 99;
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 20px;
    right: 30px;
    display: none;
}

.scroll-top:hover {
    background-color: #585858c4;
}
.scroll-top i {
    display: inline-block;
    color: #FFFFFF;
}




/* ---------- */

    /* NAVBAR & FOOTER */

    
    .navbar{
        /* height: var(--navbar-height); */
        background-color: #EFEFEF !important;
    }

    .nav-link{
        font-size: 14px;
        color: #575757 !important;
        padding-left: 1rem !important;
        padding-right: 1rem !important;
        text-align: center;
        font-weight: 500;
    }


    


        /* HOMEPAGE */

        .homepage{
            height: calc(100vh - var(--navbar-height));
            width: 100%;
            background-image: url('../images/h1.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            position: absolute;
        }

        .homepage-top-banner{
            height: calc(100vh - var(--navbar-height));
        }

        .homepage-top-title-container{
            padding-right: 5rem;
            padding-top: 4rem;
        }
        





@media (max-width: 991px) {

    .homepage-top-title-container{
        padding-right: 2rem;
        padding-top: 1rem;
    }
